@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #243A73;
	color: #F2EBE9;
	font-family: "Press Start 2P";
	font-size: 2rem;
	line-height: 1.5;
	text-align: center;
}

h1 {
	max-width: 1400px;
	margin: 0 auto;
	margin-top: 50px;
}

.container {
	max-width: 600px;
	max-height: 600px;
	height: 80vh;
	margin: 0 auto;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.field-row {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.field {
	width: 240px;
	height: 240px;
	border: 12px solid black;
	border-radius: 23px;
}

.red {
	background-color: red;
}
	
.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.yellow {
	background-color: yellow;
}

.pressed {
	opacity: 0.5;
	border-color: white;
}

.game-over {
	background-color: #fff;
}

