@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Righteous&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Righteous";
	color: #D5D8B5;
	background-color: #CC9C75;
	line-height: 1.5rem;
}

.header {
	margin: 0 auto;
	padding: 50px;
	text-align: center;
	font-weight: 900;
	box-sizing: border-box;
}

.big-heading {
	color: #809A6F;
	font-size: 7rem;
	margin: 80 0 0;
	text-shadow: 1px 1px black;
}

.med-heading {
	color: #809A6F;
	font-size: 3rem;
	color: #333;
	text-shadow: 1px 1px #A25B5B;
	line-height: 1;
}

.container  {
	max-width: 1400px;
	height: 60vh;
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.player-success {
	width: 300px;
	height: 300px;
	padding: 2% 2%;
	background-color: #809A6F;
	border-radius: 50px;
	text-align: center;
}

.dice {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	/* align-items: center; */
	width: 200px;
	height: 200px;
	background-color: #A25B5B;
	border-radius: 20px;
	padding: 20px;
	outline: 5px outset  #D5D8B5;
	box-sizing: border-box;
}

.dice-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.eye {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #D5D8B5;
	visibility: hidden;
	outline: 4px ridge #a25b5b;
}

.show {
	visibility: visible;
}

.success {
	font-size: 3em;
	font-weight: bold;
	line-height: 1.5;
	color: #BCFFB9;
}

.lose {
	color: #FF5D5D;
}

.button-container {
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

.btn {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #d5d8b5;
	outline: 5px outset green;
	font-size: 2rem;
	font-weight: 900;
	text-shadow: 2px 2px black;
	color: #a25b5b;
}

